/*================================
	ごあいさつ
=================================*/
.message__portrait{
  margin-top: 48px;

  img{
    margin: 0 auto;
  }

  p{
    text-align: center;
    margin-top: 24px;
  }
}

@include mq('lg'){
  .message__contents{
    display: flex;
    justify-content: space-between;
  }

  .message__area{
    width: 70%;
  }

  .message__portrait{
    width: 20%;
  }
}


/*================================
	理念
=================================*/
.philosophy__contents{
  img{
    margin-bottom: 36px;
  }
}

/*================================
	基本方針
=================================*/
.policy__items{
  font-feature-settings: "palt";

  li{
    display: flex;
    margin-bottom: 20px;

    span{
      margin-right: 8px;
    }
  }
}

.policies{
  background: $color-sub;
  margin-top: 68px;

  @include mq('lg'){
    margin-top: 40px;
  }
}

.policies__title{
  font-size: 20px;
  color: $color-sub;
  background: $color-main;
  padding: 16px;

  @include mq('lg'){
    padding: 12px;
  }
}

.policies__list{
  padding: 24px;
  color: $color-main;

  @include mq('lg'){
    font-size: 16px;
  }
}

/*================================
	パフレットの概要
=================================*/
.pamphlet__img{

  @include mq('md'){
    display: flex;
    justify-content: center;
  }

  img{
    display: block;
    margin: 0 auto;
    width: 350px;
    margin-bottom: 16px;

    @include mq('md'){
      margin: 0 16px;
    }
  }
  
}