.check-list{
  margin-top: 12px;

  li{
    position: relative;
    margin: 0 2em 0 0;
    padding: 0.3em 0.3em 0.3em 2em;
    line-height: 1.2;
    vertical-align: middle;
    text-indent: 0;
  }

  li:before{
    position: absolute;
    top: 0.3em;
    left: 0;
    content: "";
    width: 1.25em;
    height: 1.25em;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1;
    vertical-align: middle;
    border-radius: 0%;
  }
}

.checked:after{
    display: block;
    position: absolute;
    top: 0.3em;
    left: 0.4em;
    width: 0.5em;
    height: 1em;
    content: "";
    border-bottom: 3px solid $color-main;
    border-right: 3px solid $color-main;
    transform: rotate(45deg);
}