/*================================
	sass
=================================*/

$breakpoints: (
  'sm': (min-width: 640px),
  'md': (min-width: 768px),
  'lg': (min-width: 1024px),
  'xl': (min-width: 1280px)
) !default;

@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin mq($breakpoint: lg) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin mq($breakpoint: xl) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$color-main: #46a68b;
$color-sub: #f0f9f7;
$color-accent: #46c4db;
$color-button: #337ab7;

$font-english: Myriad Pro;
/*================================
	全体共通
=================================*/
body{
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif; 
  font-weight: 500;
  color: #534C41;
  line-height: 1.75;
}

.inner{
  max-width: 1160px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;

  @include mq('lg'){
    padding: 0;
  }
}

/* 下層ページの各セクションの余白調整 */
.section{
  padding-top: 24px;
  padding-bottom: 16px;
}

a{
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  cursor:pointer;
}

li{
  list-style: none;
}

.-center{
  text-align: center;
}

th{
  vertical-align: top;;
}

td{
  a{
    text-decoration: underline;
  }
}

